<div class="container">
    <form id="myForm" data-id={{articles.id}}>
        <div class="form_item">
            <label>Owner of note:</label>
            <input type="text" id="owner" name="owner" value="{{articles.owner}}">
        </div>

        <div class="form_item">
            <label>Title of the note:</label>
            <input type="text" id="title" name="title" value="{{articles.title}}">
        </div>

        <div class="form_item">
            <label>Message:</label>
            <textarea id="message" name="message">{{articles.message}}</textarea>
        </div>
        <button type="submit">Edit note</button>
        <br>
    </form>
</div>

{{!-- set up ajax request that is getting sent to the Express server on port 3000 --}}
<script>

    // e = event
    $('#myForm').on('submit', (e) => {

        // default behaviour is to reload the page. Must stop this
        e.preventDefault();

        // get the id from data-id attribute of the myForm form
        const id = $('#myForm').data('id')

        // get the data from the form
        const jsonData = {
            owner: $('#owner').val(),
            title: $('#title').val(),
            message: $('#message').val()
        }

        // specify which id you want to update
        // PATH = used when you want to update a part of a resource, not the entire resource
        $.ajax({
            type: 'PATCH',
            url: `/api/edit_note/${id}`,

            // transform the jsonData object to a json
            data: JSON.stringify(jsonData),

            contentType: "application/json",

            success: (data) => {
                window.location.href = "/";
            },

            error: () => {
                alert(`error when updating note by making a request to /api/edit_note/${id}`)
            }
        })
    })
</script>